/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.10.2019, 9:32:32
    Author     : glo-agent
*/

input[type="input"] {
        width: 90%;
        font-size: 20px;
        padding: 2px;
        margin: 5px 0;
    }
    textarea {
        width: 90%;
        min-height: 300px;
        font-size: 20px;
    }
    
    .row.news_elem {
    border-bottom: 1px solid #bebebe;
    padding: 10px 0;
}

.col-md-2.edit, .col-md-2.delet {
    text-align: center;
}

.trumbowyg-box {
    margin: 0 !important;
    width: 90% !important;
}
.delet a {
    color: #F44336;
}